<div align="center">

		<a [routerLink]="['/home/newPassword']">change password</a>
		<button (click)="getCallDetails()" id="signupSubmit" type="submit" class="btn btn-info btn-block">
                getCallDetails
            </button>

          <a (click)="logout()">Logout</a>  

</div>
	<div *ngIf="show"><a [routerLink]="['/securehome/usercreation']">create user</a></div>


    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <router-outlet></router-outlet>
                </div>
                
            </div>
            
        </div>
       
    </div>




